newsapi-python==0.2.7
python-dotenv==1.0.1
transformers==4.41.0
torch==2.2.2
schedule==1.2.2
gdeltdoc
pandas>=2.2.3
requests>=2.32.3
typing_extensions>=4.13.0
google-cloud-translate==2.0.1
worldnewsapi==2.2.0
pytz
pycountry